
body {
    color: #333;
  }
  
  #Case{
    top: 50%;
    position: absolute;
    width: 1100px;
    height: 100px;
  }
  #progressbar{
    height: 25px;
    position: absolute;
    left: 10%;
    top: 50%;
    width: 1440px;
    background: rgba(159, 159, 159, 0.5);
    border-radius: 15px;
    margin: -20px 0 0 -100px;
    padding: 2px;
  }
  #loading{
    transition: all 500ms ease;
    height: 20px;
    width: calc(100% - 100px);
    border-radius: 10px;
    background: linear-gradient(90deg,white, blue);
    position: absolute;
    margin: 3px;
    display: inline-block;
    animation: loading 305s ease infinite;
  }
  
  p{
    top: -10%;
    right: 30%;
    position: absolute;
  }
  
  @keyframes loading{
    0%{
      width: 2%;
    }
    5%{
        width: 30%;
      }
    90%{
        width: 90%;
      }
  }

  @media screen and (max-width: 700px) and (min-width:400px){

    #Case{
        top: 50%;
        position: absolute;
        width: 500px;
        height: 100px;
      }
      #progressbar{
        height: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 300px;
        background: rgba(159, 159, 159, 0.5);
        border-radius: 15px;
        margin: -20px 0 0 -100px;
        padding: 2px;
      }
      #loading{
        transition: all 500ms ease;
        height: 20px;
        width: calc(100% - 100px);
        border-radius: 10px;
        background: #1233f1;
        position: absolute;
        margin: 3px;
        display: inline-block;
        animation: loading 305s ease infinite;
      }

      p{
        top: -10%;
        right: 30%;
        position: absolute;
      }
  }