@font-face {
    font-family: "BP";
    src: url(../src/fonts/BPdotsSquare.otf);
    font-style: normal;
    font-weight: normal;
}

:root{
    --variable : rgb(255,0,0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:var(--exemplevariable);
    width: 100vw;
    height: 100vh;
    background-color: azure;
}

.barre{
  height: 6.5vh;
  position: absolute;
  left: 25%;
  top: 50%;
  width: 50vw;
  background: rgba(221, 220, 220, 0.5);
  padding: 5px;
}

.chargement{
  
  height: 5vh;
  width: calc(100% - 10px);
  background: #1c82d6;
  position: absolute;
  margin: 1px;
  display: inline-block;
  animation: progression 1000s infinite;
  
}


.text{
    bottom:7vh;
    right: 21vw;
    position: absolute;
    font-family: BP;
}

.ERROR{
    position: absolute;
    bottom: 160px;
    left: 40%;
    opacity: 0; 
    font-size: 50px;
    font-family: BP;
    animation-name: opacityOn;
    animation-duration: 100ms;
    animation-delay: 550s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ERROR1{
    position: absolute;
    top: 10%;
    left: 40%;
    opacity: 0; 
    font-size: 200px;
    font-family: BP;
    animation-name: opacityOn;
    animation-duration: 100ms;
    animation-delay: 200s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ERROR2{
    position: absolute;
    bottom: 20%;
    left: 20%;
    opacity: 0; 
    font-size: 100px;
    font-family: BP;
    animation-name: opacityOn;
    animation-duration: 100ms;
    animation-delay: 400s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ERROR3{
    position: absolute;
    bottom: 80%;
    left: 10%;
    opacity: 0; 
    font-size: 143px;
    font-family: BP;
    animation-name: opacityOn;
    animation-duration: 100ms;
    animation-delay: 512s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ERROR4{
    position: absolute;
    bottom: 10%;
    left: 80%;
    opacity: 0; 
    font-size: 20px;
    font-family: BP;
    animation-name: opacityOn;
    animation-duration: 100ms;
    animation-delay: 300s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ERROR5{
    position: absolute;
    bottom: 160px;
    left: 40%;
    opacity: 0; 
    font-size: 50px;
    font-family: BP;
    animation-name: opacityOn;
    animation-duration: 100ms;
    animation-delay: 290s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ERROR6{
    position: absolute;
    bottom: 190px;
    left: 70%;
    opacity: 0; 
    font-size: 50px;
    font-family: BP;
    animation-name: opacityOn;
    animation-duration: 100ms;
    animation-delay: 360s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
} 
@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes progression{
    0%{
      width: 2%;
    }
    5%{
        width: 20%;
      }
    
    
}

@media screen and (max-width: 700px) {
    .text{
        bottom:7vh;
        right: 15vw;
        position: absolute;
        
    }
    }

@media screen and (max-width: 400px) {
        .text{
            bottom:7vh;
            right: 10vw;
            position: absolute;
            
        }
        }